* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    cursor: pointer;
}

.gameContainer {
    
    background-color: indigo;
    color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.gameContent {
    padding:30px;
    
}

.gameTitle {
    padding: 30px;
    background-color: darkcyan;
    border-radius: 20px 20px 0 0;
}

.gamer,.computer,.winner {
    text-align: center;
    margin: 20px 0;
}
.gamer i,.computer i,.winner i {
    font-size: 40px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.winner {
    margin-top: 40px;
}
.icons {
    margin-top: 20px;
}

.selected {
    color: #000 !important;
}